.hole-form{
  background-color: #FE5455;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.form-control:focus {
box-shadow: none !important;
border: 1px solid  #FE5455 !important;
}
.form-container{
background-color: white;
width: 50vw;

border-radius: 10px;

}
Button{
border-radius: 10px !important;
}
Input{
  border-radius: 10px !important;
}
.colors{
  background-color: #DE0F17 !important;
  border: none !important;
  width: 100%;
  padding: 9px 10px !important ;
}
@media (max-width: 768px) {
  .form-container {
    width: 80vw;
    max-width: 90vw;
  }

  .hole-form {
    padding: 20px;
  }

  Input {
    width: 100%;
  }

  .colors {
    width: 100%;
  }
}